* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  color: #050038;
}
// Для теста
body {
  .grid-container {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 3fr 3fr;
    text-align: center;
    row-gap: 100px;
    column-gap: 40px;
    padding: 100px 40px;
    background: #ffd02f;
    .grid-item-header {
      grid-column: 1 / 4;
      h1 {
        font-size: 48px;
        width: 525px;
      }
      a {
        display: block;
        margin-top: 20px;
        &:hover {
          color: #050038b2;
        }
      }
    }
    .grid-item {
      img {
        margin-bottom: 25px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
